

#user li {
    display: block;
}


#registration_form li {
    display: block;
}

#leftside {
	margin-left: 10px;
}

.feeds blockquote p {
	font-size: 11.5px;	
}
.feeds blockquote a {
    font-size: 11px;  
	line-height: 1;
}

