

a {
    color: #1e5799;
}

#carousel {
	width: 640px;
}

#memberstable {
    font-size: 11px;
}


.editors-wrapper {
    min-width: 100px;
}

.editors {
    display: none;
    float: right;
}

.member-editors {
	display: none;
	float: right;
    min-width: 120px;
    background-color: white;
    border: 1px;
    border-style:solid;
    border-color: black;
    padding: 4px;
    position: absolute;
}

.profile-img {
    width: 140px;
    height: 140px;
}

#heading {
    background: #1e5799; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iIzA3MDBhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcyJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #1e5799 0%, #0700af 36%, #2989d8 72%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(36%,#0700af), color-stop(72%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#0700af 36%,#2989d8 72%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#0700af 36%,#2989d8 72%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#0700af 36%,#2989d8 72%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#0700af 36%,#2989d8 72%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-8 */
	color: white;
	height: 120px;
	min-width: 600px;
}

#heading a {
    color: white;

}

#user li {
    display: block;
    margin: 5px;
}


#registration_form li {
    display: block;
}

#leftside {
	margin-left: 10px;
}

.feeds blockquote p {
	font-size: 11.5px;	
}
.feeds blockquote a {
    font-size: 11px;  
	line-height: 1;
}

.story-img img {
	width: 640px;
}

.nav-left > li {
    float: none;
}

.nav-left > li > a {
    border: 1px solid #dddddd;
}

.nav-left > li.active > a {
    border: 1px solid #dddddd;
	border-right-color: transparent;
}

