{% extends "torpedo/fixedbase.html" %}
{% load i18n %}
{% block head_addition %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{% endblock %}


{% block main %}
<div class="col-12">

  <h2>Projekti - Amsterdam Maraton 2014</h2>
  <h3>Esittely</h3>
  <table class="table">
    <tr>
      <td>Amsterdam 19.10.2014</td>
      <td><a href="http://www.tcsamsterdammarathon.nl/en/">www.tcsamsterdammarathon.nl</a></td>
      <td>Osallistumismaksu 65 €</td>
      <td>Matkan hinta 500 € / Jäsenille 480 €</td>
      <td>Vetäjänä <a href="mailto:teemu.rytkonen@gmail.com">teemu.rytkonen@gmail.com</a></td>
    </tr>
  </table>
  
  <img src="{{MEDIA_URL}}Dropbox/Torpedo/marathon2011_640.png"
       class="img-thumbnail img-responsive"
       alt="Nokian Torpedo ensimmäinen yhteinen marathon @ Helsinki 2011"
       title="Torpedo @ Helsinki 2011"
       width="200"
       align="right"/>
    <p>TERDe (Torpedo Endurance Racing Division) järjestää vuonna 2014 toiminnassaan mukana oleville projektin,
      jonka tähtäimenä on Amsterdamin maraton, joka juostaan sunnuntaina 19.10.2014.
      Projekti pitää sisällään paitsi kilpailumatkan, myös halukkaille suunnitelmallisen 
      harjoittelun ja sen dokumentoinnin.
    </p>
  
  <h3>Projektin läpivienti</h3>
  <ul>
    <li>Käynnistäminen TERDen aloituspalaverissa 6.1.</li>
	<li>Ilmoittautuminen on alkuvaiheessa mahdollista 31.1.2014 asti. Tämän 
      jälkeen tehdään varaukset lennoista ja hotelleista. Mikäli mukaan haluaa 
      vielä tämän jälkeen voi se olla vielä mahdollista, mutta samoille lennoille
      tai samaan hotelliin pääsyä ei voi taata, eikä myöskään samaa hintaa.
    </li>
    <li>Projektin harjoittelua varten voidaan kullekin niin halutessaan laatia
      henkilökohtainen harjoitusohjelma.</li>
    <li>Yhteisharjoituksia viikoittain ja säännöllisin välein myös kuntotestejä</li>
	<li>Projektin eteneminen dokumentoidaan blogiin Nokian Torpedo ry:n nettisivuille</li>
	<li>Amsterdamin maratonmatka alkaa torstaina 17.10. aamulennolla Helsingistä ja 
      paluu Helsinkiin on maanantaina 20.10. iltapäivä/iltalennolla.
    </li>
  </ul>

  <h3>Projektiin mukaan</h3>
  <p>Ilmoittautuminen tapahtuu ilmoittautumalla ensin projektin <a href="mailto:teemu.rytkonen@gmail.com">vetäjälle</a> ja sen 
    jälkeen omatoimisesti Amsterdamin Maratonille kilpailunjärjestäjien 
    ilmoittautumisjärjestelmän kautta sekä maksamalla sitten projektin alkumaksu
    Torpedo Endurancen tilille. Alkumaksun suuruus on 250 € (Lentovarausmaksu).
  </p>
  
  
  <h3>Projektin kustannukset</h3>
  <p>Projektiin osallistuvat rahoittavat matkan itse. Projektille tehdään yhteinen 
    budjetti, josta yhteisesti hoidetaan Amsterdamin matkan kustannukset.</p> 
  Projektimaksuun sisältyy:
	<ul>
      <li>Lennot ja muut kuljetukset lentokentille ja lentokentältä hotellille</li>
      <li>Majoitus 3 yötä</li>
    </ul>
	Mahdollisesti jäljelle jäävät rahat voidaan käyttää esim. yhteisiin ruokailuihin kohteessa
  <h3>Torpedo "Joukkue"</h3>
    <ul>
      <li>Antti Mäkinen</li>
      <li>Saila Mäkinen</li>
      <li>Hannu Harju</li>
      <li>Teemu Rytkönen</li>
  	</ul>
  <h3>Aikataulu<h3>
  <h4>Tammikuu</h4>
    <li>Peruskunto kausi alkaa.</li>
  <h4>Helmikuu</h4>
    <li>Peruskunto jatkuu.</li>
    <li>10 KM Testi</li>
  <h4>Maaliskuu</h4>
    <li>Peruskunto jatkuu.</li>
  <h4>Huhtikuu</h4>
    <li>Vauhtikestävyys kausi alkaa.</li>
    <li>10 KM Testi</li>
  <h4>Toukukuu</h4>
    <li>Kisa/Vauhtikestävyys kausi.</li>
    <li>HCR 2014</li>
  <h4>Kesäkuu</h4>
    <li>Vauhtikestävyys kausi.</li>
  <h4>Heinäkuu</h4>
    <li>Peruskunto kausi.</li>
  <h4>Elokuu</h4>
    <li>Peruskunto kausi.</li>
  <h4>Syyskuu</h4>
    <li>Vauhtikestävyys kausi.</li>
    <li>10 KM Testi</li>
  <h4>Lokakuu</h4>
    <li>Valmistava kausi.</li>
    <li>42 KM Lopullinen testi (Amsterdam)</li>
  
</div>
{% endblock %}
