{% extends "torpedo/fixedbase.html" %}
{% load i18n %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

{% block main %}
<h3>Events</h3>
<div id="eventcalendar">
</div>

{% endblock %}

{% block scripts %}
<!-- 
<link rel="stylesheet" href="{{ STATIC_URL }}eventCalendar/css/eventCalendar_theme_responsive.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}eventCalendar/css/eventCalendar.css" type="text/css" media="screen" />
-->

<script type="text/javascript" src="{{ STATIC_URL }}js/calendar.view.js" ></script>
{% endblock %}
