
{% extends "torpedo/fixedbase.html" %}
{% load i18n %}
{% block head_addition %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{% endblock %}


{% block main %}
<div class="col-12">
	<h2>Jukolan Viesti 2014</h2>
    <h3>Esittely</h3>
  <table class="table">
    <tr>
      <td>Jukolan viesti 14-15.6.2014</td>
      <td><a href="http://www.jukola.com/2014/">www.jukola.com/2014/</a></td>
      <td>Osallistumismaksu 235 €/Joukkue</td>
      <td>Matkan hinta ? €</td>
      <td></td>
    </tr>
  </table>

    <p>Jo "perinteeksi" muodostunut Nokian Torpedon Jukolan joukkue on kisaillut
		vuodesta 2012 lähtien. Historiaa ja kokemusta ei ole vielä hirveästi karttunut 
		mutta intoa sitäkin enemmän.
	</p>
	  <img src="{{MEDIA_URL}}Dropbox/Torpedo/jukola2013_640_480.png"
	     class="img-thumbnail story-img pull-right"
	     alt="Nokian Torpedo Jukola 2013"
	     title="Torpedo @ Jukola 2013"
           style="width: 400px"/>
	  <div class="caption">
	    <a href="https://www.dropbox.com/sh/5ags68qhhvvsbjk/77ffeYtxm2"
	       data-toggle="tooltip" title="Katso kaikki kuvat Jukolasta 2013">
	      <b>Torpedo @ Jukola 2013</b>
	    </a>
	    <p>Torpedon joukkue juoksujärjestyksessä: Antti Mäkinen, Antti Tomminen,
	    Teemu Rytkönen, Vili Vartiala, Veera Kangaspunta, Matti Vartiala ja Hannu 
	    Harju.
	    </p>
	  </div>
	<p>
	Vuonna 2014 <a href="http://www.jukola.com/2014/">Kuopio Jukola 2014</a> juostaan
	perinteisesti kesäkuun puolivälissä. Jukolan joukkuessahan on Aleksis Kiven tarinan
	mukaan seitsämän riuskaa veljestä, joskin naiset ovat myös tervetulleita! Naisille
	tosin järjestetään ihan oma Venlojen viesti.
	</p>
  <h3>Torpedo Venlat 2014</h3>
	<ul>
      <li>Veera Kangaspunta</li>
      <li>Saila Mäkinen</li>
      <li>-</li>
      <li>-</li>
 	</ul>
  <h3>Torpedo Jukolat 2014</h3>
	<ul>
      <li>Antti Mäkinen</li>
      <li>Antti Tomminen</li>
      <li>Teemu Rytkönen</li>
      <li>Antti Vallaskangas</li>
      <li>Vili Vartiala</li>
      <li>Matti Vartiala</li>
      <li>Hannu Harju</li>
 	</ul>
</div>
{% endblock %}


