{% extends "torpedo/fixedbase.html" %}
{% load i18n %}
{% block head_addition %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{% endblock %}


{% block main %}
<div class="col-12">
  <h2>Torpedo Times</h2>
  <p>Tähän mennessä julkaistut Torpedo uutiskirjeet!</p> 
    <ul>
      <li>Torpedo Times No 2 - 2014-01-01
        <a href="/torpedo/media/Dropbox/Torpedo/Times/Torpedo Times - No. 2.pdf" title="Torpedo Times - No 2.pdf">
        <img alt="Torpedo Times No 2" src="{{STATIC_URL}}pdf_icon.png" style="width: 20px;"/></a>
      </li>  
      <li>Torpedo Times No 1 - 2013-11-10
        <a href="/torpedo/media/Dropbox/Torpedo/Times/Torpedo Times - No1.pdf" title="Torpedo Times No 1.pdf">
        <img alt="Torpedo Times No 1" src="{{STATIC_URL}}pdf_icon.png" style="width: 20px;"/></a>
      </li> 
    </ul>

  
</div>
{% endblock %}
