@import "config.less";

nav {
    position: relative;
    background-color: @theme;
    ul {
        padding: 0;
        margin: 0;
        background-color: @theme;
        list-style-type: none;
        color: White;
        float: none;
        width: 100%;
        font-family: arial, helvetica, sans-serif;
        border-bottom: 1px solid #6c6;
        li {
            float: left;
            position: relative;
            list-style-type: none;
            padding: 3px 0;
            text-align: center;
            a {
                color: White;
                text-decoration: none;
                border-right: 1px solid #fff;
                display: block;
                width: 140px;
            }
        }
        .sub-menu {
            width: auto;
            display: none;
            position: absolute;
            top: 20px;
            left: 10px;
            z-index: 90;
            li {
                text-align: left;
                a {
                    border-right: none;
                }
            }
            
        }
        li:hover ul.sub-menu {
            background-color: lighten(@theme, 20%);
            color: #fff;
            display: block;
            border: 1px solid #ececec;
        }
    }
}


