@import "config.less";
@import "elements.less";


/* Font */
@font-face {
    font-family: 'AsapRegular';
    src: url('../../fonts/Asap-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


/* Styles*/
body {
    background-image: url("../../logo.gif");
    background-repeat: repeat-x;
    font-family: AsapRegular, sans-serif;
    font-size: 11pt;
}


header#top {
    background-color: lighten(@theme, 30%);
    h1 {
        font-size: 2em;
        color: white;
    }
    #user {
        float: right;
        padding: 10px;
        font-family: Georgia;
        color: #666;
    }
}



h1, h2, h3, h4 {
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: Georgia;
    color: #666;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}

ul, p {
    font-size: 1em;
}

a {
    text-decoration: none;
}

#forumfeed {
    p {
        margin: 10px;
        font-size: 0.9em;
    }
    a {
        font-size: 1.1em;
        color: black;
    }
    a:hover {
        text-decoration: underline;
    }
}

#eventsfeed {
    div {
        margin: 10px;
        font-size: 0.9em;
    }
    a {
        color: black;
    }
    a:hover {
        text-decoration: underline;
    }
}
