@import "config.less";
/* Font */
@font-face {
    font-family: 'AsapRegular';
    src: url('/static/fonts/Asap-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
/* Body */
body {
	background: lighten(@theme, 90%);
	font-family: AsapRegular, sans-serif;
	font-size: 11pt;
}


header#top {
    background-color: lighten(@theme, 60%);
}

nav {
	background-color: @theme + #252525;
	height: 45px;
	.border;
	.shadow;
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline;
			a {
				text-decoration: none;
				display: inline-block;
				float: left;
				width: 156px;
				height: 45px;
				text-align: center;
				line-height: 300%;
				.textcolor(#f2f2f2); // You can change this line
				.divider;
				.gradient;
				&:hover {
					.hovereffect;
				}
			}
		}
		li:first-child a {
			border-left: none;
		}
		li:last-child a {
			border-right: none;
		}
	}
}

ul#boxes li {
    font-family: Georgia;
    font-size: 1.33em;
    padding: 2.5em 0;
    color: #999;
    text-align: center;
}

h1 {
    font-family: Georgia;
    font-size: 2em;
    padding: 1em;
    color: white;
}
    h1 a {
        color: white;
        text-decoration: none;
    }
h2 {
    font-family: Georgia;
    font-size: 1.5em;
    padding: 5.25em 0;
    color: #666;
    text-align: center;
}
