{% extends "torpedo/fixedbase.html" %}
{% block main %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<h2>Nokian Torpedo ry</h2>
    <h3>Yhteyshenkilöt</h3>
    <ul>
        <li>Antti Tomminen (<a href="mailto:antti.tomminen@gmail.com">antti.tomminen(at)gmail.com</a>) puh. 040 731 3630 sekä </li>
        <li>Teemu Rytkönen (<a href="mailto:teemu.tomminen@gmail.com">teemu.rytkonen(at)gmail.com</a>) puh. 040 707 2158</li>
    </ul>
    
		<h3>Yhdistyksen hallitus kaudella 2011-2012</h3>
    <ul>
        <li>Antti Mäkinen, puheenjohtaja</li>
        <li>Hannu Harju, Joukkueenjohtaja</li>
        <li>Antti Tomminen, rahastonhoitaja</li>
        <li>Matti Vartiala, varapuheenjohtaja</li>
        <li>Teemu Rytkönen, sihteeri</li>
    </ul>
    <h3>Yhdistyksen materiaalia</h3>
    <h4>Toimintakertomukset</h4>
    <ul>
        <li>
        <a title="html-muoto" href="https://docs.google.com/document/d/1XDoJm_ui_6kekzQuFfVfQqU6QLWDY2LQBgmg-KcFnL0/view">
        Toimintakertomus 2011-2012</a>
        </li>
    </ul>
    <h4>Pöytäkirjat</h4>
    <ul>
        <li>Varsinainen vuosikokous 1.8.2009
        <a href="{{STATIC_URL}}yhdistysmateriaali/vuosikokous2009.pdf" 
           title="pdf-muodossa"><img alt="pdf-muodossa" src="{{STATIC_URL}}pdf_icon.png" style="width: 20px;"/></a>
        </li>
    </ul>
    <h4>Muuta materiaalia</h4>
    <ul>
        <li>Yhdistyksen säännöt 6.6.2008
        <a href="{{STATIC_URL}}yhdistysmateriaali/saannot.pdf" title="pdf-muodossa">
        <img alt="Säännöt pdf-muodossa" src="{{STATIC_URL}}pdf_icon.png" style="width: 20px;"/></a></li>
    </ul>
{% endblock %}
