{% extends "torpedo/fixedbase.html" %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

{% block main %}
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=5l0oibsrjpa96ibs1oit9nt660%40group.calendar.google.com&amp;color=%232952A3&amp;src=bbmauio91s9fc7dss74advj8qp464ec2%40import.calendar.google.com&amp;color=%23875509&amp;ctz=Europe%2FHelsinki" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/calendar.view.js" ></script>
{% endblock %}
