{% extends "torpedo/fixedbase.html" %}
{% block head_addition %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{% endblock %}

{% block leftside %}
<div id="scroll-nav" class="affix">
<ul class="nav nav-pills nav-stacked">
  <li><a href="#projektit">@Projektit 2014</a></li>
  <li><a href="#jukola">@Jukola</a></li>
  <li><a href="#puolimara">@Puolimaraton</a></li>
  <li><a href="#challenge">@Torpedo Challenge</a></li>
  <li><a href="#mara">@Maraton</a></li>
</ul>
</div>
{% endblock %}

{% block main %}
<h2>Tapahtumat</h2>
<h5 id="projektit" class="label">@Projektit 2014</h5>
<p>
Tarkoituksena olisi että Nokian Torpedon Kuntourheilu Jaosto (NoTKUJat),
järjestää joitain kestävyysurheilu tapahtumia, sekä osallistuu erilaisiin 
tapahtumiin hajanaisella joukolla. 
</p>

<p>
Tapahtumat ovat projekti luonteisia jo siitä syystä että niihin osallistuminen
sovitaan projektin alkaessa kuten myös rahoitus, aikataulut yms. Suurin syy
miksi tapahtumia järjestetään, on tavoite saada mielekkyyttä ja päämäärää kestävyys
harjoitteluun. Kaikkiin tapahtumiin on kaikilla Nokian Torpedon Ry:n jäsenillä
oikeus, joskaan ei velvollisuutta :)
</p>

<h5 id="jukola" class="label">@Jukolan Viesti 2014</h5>
<p>
Jo "perinteeksi" muodostuneessa Nokian Torpedon Jukolan joukkue on kisaillut
vuodesta 2012 lähtien. Historiaa ja kokemusta ei ole vielä hirveästi karttunut 
mutta intoa sitäkin enemmän.

<a href="https://www.dropbox.com/sh/4e6ygghjmmb655v/e1k83aKMzB">
<img src="https://photos-5.dropbox.com/t/0/AAANp-hzZ0iNfQPD4TtO33ASw3ZUnbhXgqFJdnP1i3OFRg/12/62900203/jpeg/32x32/3/1375272000/0/2/IMG_4695.JPG/nBZR-zSaUZ_1OK-zo-O9diTmZpHIWJ09b8BO6iuUO8s?size=1024x768"
     class="img-thumbnail story-img"
     alt="Nokian Torpedo Jukola 2013"/>
</a>
</p>
<p>
Vuonna 2014 <a href="http://jukola2014.blogspot.fi/">Kuopio Jukola</a> juostaan
perinteisesti kesäkuun puolivälissä. Jukolan joukkuessaohan on Aleksis Kiven tarinan
mukaan seitsämän riuskaa veljestä, joskin naiset ovat myös tervetulleita! Naisille
tosin järjestetään ihan oma Venlojen viesti, johon voisi myös Torpedon joukkueen
ilmoittaa jos löydytään neljä halukasta.
</p>

<h5 id="puolimara" class="label">@Puolimaraton 2014</h5>
<p>
Puolimaraton on hyvä mittari jos aikoo juosta koko maratonin joten tavoitteena
olisi juosta joskus alku keväästä puolikas johon toivottavasti saadaan hieman 
isompi osanotto koko NoTKUJista.
</p>
Esimerkiksi:
<table class="table">
  <tr>
    <td>Helsinki City Run</td>
    <td><a href="http://www.helsinkicityrun.fi/">helsinkicityrun.fi</a></td>
  </tr>
  <tr>
      <td>Nokia</td>
      <td>??</td>
  </tr>
</table>


<h5 id="challenge" class="label">@Torpedo Challenge 2014</h5>
<p>
Ensimmäisen kerran 2013 järjestetty Torpedo Challenge saa jatkoa myös vuonna
2014. Eri lajeista ja useasta osakilpailusta koostuva Challenge luultavasti
kehittyy ja muuttaa hieman muotoaan vuodelle 2014 ja runsasta osanottoa Torpedon
jäsenistä toivotaan. 

Vuonna 2013 lajeina oli mm. salibandy, nopeus/ketteryys testi, koripallo, cooper,
suunnistus, frisbee golf, sovellettu maastojuoksu, seikkailu urheilu? Joten saa
nähdä mitä seuraavan vuoden kisassa on mukana!

</p>

<h5 id="mara" class="label">@Maraton 2014</h5>
<img src="https://photos-1.dropbox.com/t/0/AADGBqHn7k7GD1AcuQPf2BhcqKpuKZqtuUUNI1cim9xqCA/12/62900203/jpeg/32x32/3/1375272000/0/2/714866-8501-0023s.jpg/3Ev6AYk4S1CAWYRU5oxikhmZkc7T4zCfyZuS_gchc8o%2CoQwrvm0ujwW8osvdoQ0Y5rwVVb5SlFVuAlvLBJXkOeA?size=1024x768"
     class="img-thumbnail story-img"
     alt="Nokian Torpedo ensimmäinen yhteinen marathon @ Helsinki 2011"
     title="Torpedo @ Helsinki 2011"/>
<p>
Tavoitteena on juosta täyspitkä maraton, jossain vuoden 2014 vuoden
loppupuoliskolla. Ja koska Tukholmassa on käyty ja Helsinki on nähty, niin vuoden 
2014 päätavoite on alustavasti asetettu jonnekin muulle euroopan maratonille. 
</p>

Harkinnassa ovat:
<table class="table">
  <tr>
    <th>#</th>
    <th>Saitti</th>
    <th>Osallistumis maksu</th>
  </tr>
  <tr>
    <td>Berliini</td>
    <td><a href="http://www.bmw-berlin-marathon.com/en/">www.bmw-berlin-marathon.com</a></td>
    <td>116 €</td>
  </tr>
  <tr>
      <td>Amsterdam</td>
      <td><a href="http://www.tcsamsterdammarathon.nl/en/">www.tcsamsterdammarathon.nl</a></td>
      <td>65 €</td>
  </tr>
</table>

<span> </span>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/endurance.events.view.js" ></script>
{% endblock %}

