{% load compressed %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nokian Torpedo | Nokialainen Salibandy seura</title>
<!-- Stylesheets -->
<link rel="stylesheet" href="{{ STATIC_URL }}js/bootstrap3/css/bootstrap.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/css/sticky-footer.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/css/torpedo.css" type="text/css" media="screen" />

{% block head_addition %}
{% endblock %}
</head>
<body>
        <div class="row">
        <div class="col-offset-3 col-8 col-lg-8">
        {% include 'torpedo/header.html' %}
        </div>
        </div>
        <!-- Main Body -->	
            <div class="row">
            {% block center %}
            <div id="leftside" class="col-3 col-lg-3">
            {% block leftside %}
            {% endblock %}
            </div>
            <div class="col-6 col-lg-6">
            {% block main %}
            {% endblock %}
            </div>
            <div class="col-2 col-lg-2 hidden-print">
            {% block rightside %}
            <div id="eventsfeed" class="feeds">
            </div>
            {% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
    <div id="footer">
      <p class="text-muted credit">&copy;&nbsp;Nokian Torpedo ry, 2012</p>
    </div>
    <!-- Scripts -->
    <script type="text/javascript">var STATIC_URL = "{{STATIC_URL}}";</script>
    <script type="text/javascript" src="{{STATIC_URL}}js/require.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/require.config.js"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js" ></script>
{% block scripts %}
{% endblock %}

</body>
</html>
