{% load compressed %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nokian Torpedo | Nokialainen Salibandyseura</title>
<!-- Stylesheets -->
<link rel="stylesheet" href="{{ STATIC_URL }}js/bootstrap3/css/bootstrap.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/css/sticky-footer.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/css/torpedo.css" type="text/css" media="screen" />
<link href="{{ STATIC_URL }}js/bootstrap-glyphicons/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="{{ STATIC_URL }}js/codemirror/lib/codemirror.css" rel="stylesheet">
{% block head_addition %}
{% endblock %}
</head>
<body>
    <div class="row">
        <div class="col-sm-0 col-md-0 col-lg-2"></div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          {% include 'torpedo/header.html' %}
        </div>
        <div class="col-sm-0 col-md-0 col-lg-2"></div>
      </div>
      <!-- Main Body -->	
      <div class="row">
        {% block center %}
        <div id="leftside" class="col-sm-0 col-md-2 col-lg-2">
          {% block leftside %}
          {% endblock %}
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          {% block main %}
          {% endblock %}
        </div>
        <div class="col-sm-0 col-md-2 col-lg-2">
          {% block rightside %}
          {% endblock %}
        </div>
        {% endblock %}
      </div>
    <div class="row">
    <div class="col-0 col-sm-0 col-lg-2"></div>
{% block footer %}
    <div id="footer" class="col-lg-8">
        <div class="credit">&copy;&nbsp;Nokian Torpedo ry, 2012</div>
         <div class="fb-like"
             data-height="30"
             data-colorscheme="light"
             data-layout="standard"
             data-action="like"
             data-show-faces="false"
             data-send="true">
        </div>
        <div id="fb-root"></div>
     </div>
{% endblock %}
    </div>
    <!-- Scripts -->
    <script type="text/javascript">
    var STATIC_URL = "{{STATIC_URL}}";
    var HTTP_HOST = "{{ request.META.HTTP_HOST }}";
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/require.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/require.config.js"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js" ></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/{{ menu.active }}.view.js" ></script>  
     -->
{% block scripts %}
{% endblock %}

</body>
</html>
