{% extends "torpedo/fixedbase.html" %}
{% block head_addition %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{% endblock %}


{% block main %}
<br/>
<h2>Ajankohtaista</h2>

<script type="text/javascript">
<!--
var leftfeed = {'titleurl': '/forum/1/',
        'feedurl': '/forum/feeds/forum/1/'}
var rightfeed = {'titleurl': 'http://salibandy.net/alueuutiset/sisa-suomi/',
        'feedurl': '/feeds/feed/atom/'}

//-->
</script>
<div id="leftfeeds" class="feeds col-6">
</div>

<div id="rightfeeds" class="feeds col-5">
</div>

{% endblock %}


