<!-- Header -->
{% load menu_access %}
<header id="top">
    <ul id="user">
        {% if user.is_authenticated %}
          <li>Logged in <a href="/profile">{{ user }}</a> | <a href="/account/logout/">logout</a></li>
        {% else %}
          <li><a href="/account/signup/">register</a>|<a href="/account/signin/">login</a></li>
        {% endif %}
    <li>
    </ul>
    <h1>Nokian torpedo - Salibandya vuodesta 2008</h1>
</header>

<!-- Navigation -->
{% block nav %}
<nav>
    <ul>
    {% for key, mainitem in menu.items %}
    {% if mainitem|can_see:user %}
    <li><a id="{{key}}"
        {% if menu.active == key %}class="active"{% endif %}
        href="{{mainitem.href}}">{{ mainitem.name }}</a>
        {% if mainitem.children %}
          <ul class='sub-menu'>
          {% for subitem in mainitem.children.values %}
            {% if subitem|can_see:user %}
            <li><a href="{{subitem.href}}">{{ subitem.name }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    {% if user.is_staff %}
    <li><a id="admin" href="/admin/">Admin</a></li>
    {% endif %}
</nav>
{% endblock %}
