<!-- Header -->
{% load menu_access %}
<div>
    <ul id="user" class="pull-right">
        {% if user.is_authenticated %}
          <li>Logged in <a href="/profile">{{ user }}</a> | <a href="/account/logout/">logout</a></li>
        {% else %}
          <li><a href="/account/signup/">register</a>|<a href="/account/signin/">login</a></li>
        {% endif %}
    </ul>
    <h2>Nokian torpedo <small>Salibandya vuodesta 2008</small></h2>
</div>

<!-- Navigation -->
{% block nav %}
<div>
    <ul class="nav nav-tabs">
    {% for key, mainitem in menu.items %}
    {% if mainitem|can_see:user %}
    <li 
    {% if menu.active == key %}class="active"{% endif %}
    {% if mainitem.children %}class="dropdown"{% endif %}>
        <a id="{{key}}"
        {% if mainitem.children %}
        class="dropdown-toggle" data-toggle="dropdown" 
        href="#">{{ mainitem.name }}<span class="caret"></span>
        {% else %}
        href="{{mainitem.href}}">{{ mainitem.name }}
        {% endif %}
        </a>
        {% if mainitem.children %}
          <ul class='dropdown-menu'>
          {% for subitem in mainitem.children.values %}
            {% if subitem|can_see:user %}
            <li><a href="{{subitem.href}}">{{ subitem.name }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    {% if user.is_staff %}
    <li><a id="admin" href="/admin/">Admin</a></li>
    {% endif %}
</div>
{% endblock %}
