{% extends "torpedo/fixedbase.html" %}
{% block main %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<div id="forms">
<h2>Käyttäjän {{ user }} profiili</h2>
<form action="/profile" method="post">{% csrf_token %}
    <fieldset id="profile">
        <legend><span>Henkilökohtaiset tiedot</span></legend>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Submit" 
           class="btn btn-default"/>
</form>
</div>
{% endblock %}
