{% load i18n %}
<div id="profile-form">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<h2>Käyttäjän {{ profileuser }} profiili</h2>
<form enctype="multipart/form-data" action="{{ form.action }}/{{ profileuser.username }}" method="post">{% csrf_token %}
    <fieldset id="profile">
        <legend><span>{{ form.name }}</span></legend>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        {% if form.submit %}
        <input type="submit" value="{{ form.submit }}" class="btn btn-default">
        {% endif %}
    </fieldset>
</form>
</div>
