{% extends "torpedo/fixedbase.html" %}
{% load i18n %}

{% block main %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<h2>{{ profileuser }} profiili</h2>

<div id="profile-personal" class="panel">
    <div class="editors-wrapper">
      <div class="editors">
        <a href="#" data-url="/profiledlg/{{ profileuser.username }}"><span class="glyphicon glyphicon-edit"></span>Edit</a>
      </div>
    </div>
    <div class="panel-heading">{% trans "Personal details" %}</div>
    <div class="row">
    <div class="col-3">
      <div class="editors-wrapper">
      <div class="editors">
        <a href="#" data-url="/profileimg/{{ profileuser.username }}"><span class="glyphicon glyphicon-edit"></span>{% trans "Edit" %}</a>
      </div>
      </div>
      <img src="{{ MEDIA_URL }}{{ profileuser.profile.userimage }}" alt="" class="profile-img img-rounded"/>
    </div> 
    <div class="col-9">
     <table class="table">
       <tr>
         <td class="col-5"><label>{% trans "Forename" %}</label></td>
         <td><div>{{ profileuser.first_name }}</div></td>
       </tr>
       <tr>
         <td><label>{% trans "Surname" %}</label></td>
         <td><div>{{ profileuser.last_name }}</div></td>
       </tr>
       <tr>
         <td><label>{% trans "Email" %}</label></td>
         <td><div>{{ profileuser.email }}</div></td>
       </tr>
       <tr>
         <td><label>{% trans "Phonenumber" %}</label></td>
         <td><div>{{ profileuser.profile.phonenumber }}</div></td>
       </tr>
     </table>
    </div> 
    </div>
</div>

<div id="profile-membership" class="panel">
    <div class="editors-wrapper">
      <div id="editor" class="editors">
        <a href="#" data-url="/memberdlg/{{ profileuser.username }}"><span class="glyphicon glyphicon-edit"></span>Edit</a>
      </div>
    </div>
    <div class="panel-heading">{% trans "Membership" %}</div>
    <div class="row">
    <div class="col-3">
    </div> 
    <div class="col-9">
     <table class="table">
       <tr>
         <td class="col-5"><label>{% trans "Seasonfee" %}</label></td>
         <td><div>{{ profileuser.memberprofile.payments }} / {{ profileuser.memberprofile.memberfee }} €</div></td>
       </tr>
       <tr>
         <td><label>{% trans "Sections" %}</label></td>
         <td><div>{{ profileuser.memberprofile.memberof.all|join:", " }}
         </div></td>
       </tr>
     </table>
    </div> 
    </div>
</div>

{% include "torpedo/modal.html" %}
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/profile.view.js" ></script>
{% endblock %}

