<div id="profile-form">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<h2>Käyttäjän {{ profileuser }} profiili</h2>
<form action="/profiledlg/{{ profileuser.username }}" method="post">{% csrf_token %}
    <fieldset id="profile">
        <legend><span>Henkilökohtaiset tiedot</span></legend>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
    </fieldset>
</form>
</div>
