{% extends "torpedo/fixedbase.html" %}
{% load i18n %}
{% block head_addition %}
{% endblock %}
{% block center %}
<div class="row">
<div class="col-offset-3 col-5">
<h2><span>{% trans "Login" %}</span></h2>
<form id="registration_form" action="." method="post" role="form">
{% csrf_token %}
	{% if msg %}
	<div class="errorlist">
	    {{ msg }}
	</div>
	{% endif %}
	{{ form1.non_field_errors.as_ul }}
	{{ form2.non_field_errors.as_ul }}
	<div class="form-group">
	{{ form2.username.errors }}
	{{ form2.username.label }}
	{{ form2.username }}
	</div>
	<div class="form-group">
	{{ form2.password.errors }}
	{{ form2.password.label }}
	{{ form2.password }}
    <a href="{% url auth_password_reset %}">{% trans "Forgotten your password?" %}</a>
	</div>
    <input type="hidden" name="next" value="{{ next }}" />
    <input class="btn btn-default" type="submit" value="{% trans "Login" %}" />
</form>
</div>
</div>

{% endblock %}
