{% extends "torpedo/fixedbase.html" %}
{% load i18n %}
{% load forum_extras %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

{% block main %}
<div class="blockform">
	<h2><span>{% trans "Register" %}</span></h2>
	<div class="box">
		<form method="post" action="">
			{% csrf_token %}
			<div class="inform">
				<div class="forminfo">
				</div>
				{{ form.non_field_errors.as_ul }}
				<fieldset>
					<legend>Anna käyttäjänimi</legend>
					<div class="infldset">
						{{ form.username.errors }}
						<label><strong>{{ form.username.label }}</strong><br />{{ form.username }}<br /></label>
					</div>
				</fieldset>
			</div>
			<div class="inform">
				<fieldset>
					<legend>Anna salasana. Salasanat ovat case sensitiivisiä!</legend>
					<div class="infldset">
						{{ form.password1.errors }}
						{{ form.password2.errors }}
						<label class="conl"><strong>{{ form.password1.label }}</strong><br />{{ form.password1 }}<br /></label>
						<label class="conl"><strong>{{ form.password2.label }}</strong><br />{{ form.password2 }}<br /></label>
					</div>
				</fieldset>
			</div>
			<div class="inform">
				<fieldset>
					<legend>Anna validi email osoite, johon lähetetään aktivointi maili.</legend>
					<div class="infldset">
					{{ form.email.errors }}
					<label><strong>{{ form.email.label }}</strong><br />
						{{ form.email }}<br /></label>
					</div>
				</fieldset>
			</div>
            <p><input type="submit" value="{% trans "Register" %}" /></p>
		</form>
	</div>
</div>
{% endblock %}