{% extends "torpedo/fixedbase.html" %}
{% load i18n %}
{% load forum_extras %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

{% block center %}
<div class="row">
<div class="col-offset-3 col-6">
<h2><span>{% trans "Register" %}</span></h2>
<form method="post" action="">
	{% csrf_token %}
    {{ form.non_field_errors.as_ul }}
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username.errors }}
        {{ form.username }}
    </div>
    <div class="form-group">
	{{ form.password1.errors }}
	{{ form.password1.label }}
	{{ form.password1 }}
    {{ form.password2.errors }}
	{{ form.password2.label }}
	{{ form.password2 }}
	</div>
    <div class="form-group">
	<legend>Anna validi email osoite, johon lähetetään aktivointi maili.</legend>
	{{ form.email.errors }}
	{{ form.email.label }}
	{{ form.email }}
	</div>
    <div class="form-group">
    <legend>{% trans "Please, write the letters of" %} {{ form.captcha.label }}</legend>
    {{ form.captcha.errors }}
    <div > 
    {{ form.captcha }}
    </div>
    </div>
    <input class="btn btn-default" type="submit" value="{% trans "Register" %}" />
</form>
</div>
</div>
{% endblock %}