{% load i18n %}

<ol class="breadcrumb">
  {% for key, mainitem in breadcrumbs.items %}
    <li class="btn-group"
    {% if mainitem.children %}class="dropdown"{% endif %}>
    <a id="link-{{key}}" href="{{mainitem.href}}">{{ mainitem.name }}</a>
        {% if mainitem.children %}
        <a class="dropdown-toggle" data-toggle="dropdown" 
        href="#"><span class="caret"></span>
        </a>
        {% endif %}
        {% if mainitem.children %}
          <ul class='dropdown-menu'>
          {% for subitem in mainitem.children.values %}
            <li><a href="{{subitem.href}}">{{ subitem.name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
    </li>
  {% endfor %}
</ol>
